extends layout

block content
  header.top
    h1=blurb 
    div.subblurb=subblurb

  div.blurb
    h2 Ià! Ià!  #{mythos.getDeity()}

    p.welcome Step inside, you convert!
    p You have found a most peculiar place in the infinite abyss of the Unknown. 
    p The place  where mythical beings take full form, all too eager to bring 
      |  madness and destruction to our hapless kind and our puny planet, the
      |  cradle from whence the most dangerous, #{mythos.getAdjective()} menaces humanity will ever know
      |  are born, groomed and unleashed to our cosmos.

    h3.warning This was your concern. But you have seen and felt the True Power  

    p Now you have devoted your life to our goal: to bring utter madness and
      | eternal destruction to Earth. But to do this, you must seek help. And only
      | this place, the unholy womb from whence Mythos creatures come, can help 
      | you further what is now Your purpose. 

    h3 Generate the Mythos you need!
    
    p Should you need a single deity, a bunch of creatures or some #{mythos.getAdjective()} adjective
      | to give proper flavour to your campaign, look no further: you can resort to these generators:

    ul.blurbize
        li <a href="/mythos/20">Generate 20 Mythos creatures</a>
        li <a href="/mythos/20/table">Generate 20 creatures, laid out in a tabular format</a>
        li <a href="/eldergods/20">Generate 20 elder gods</a>
        li <a href="/peoples/20">Generate 20 eldritch populations</a>
        li <a href="/names/20">Generate 20 Lovecraftian names</a>
        li <a href="/adjectives/20">Create a list of 20 Lovecraftian adjectives</a>

    h3 The Stars Are Right, 2.0 (beta)

    p.
       Sir, are you a developer? Then bring #{mythos.getAdjective()} madness over the web by letting your software be parasited by 
       a handy JSON interface. Assimilate this #{mythos.getAdjective()} tome of knowledge by <a href="/api">clicking here</a>


